.nav{
    background-color: black;
    height:40px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 200px;
}
.navl a{
    color: white;
    text-decoration: none;
    font-weight: 600;
    margin-right: 20px;
}
.left{
    display: flex;
    align-items: center;
}
.navr{
    display: flex;
    justify-content: space-around;
}
.navr button{
    color: white;
}
.nav select{
    background-color: black;
    color: white;
    border: none;
}
.right img{
    height: 30px;
}
.right a{
    text-decoration: none;
    color: white;
   margin: 0px 20px;
}
.btn{
    background-color: transparent;
    border: none;
    border-radius: 0px;
}
.right{
    display: flex;
    justify-content: space-around;
    align-items: center;
}